*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container{
  max-width: 100vw;
  max-height: 100vh;
  display: flex;
}

.right-content{
  margin-top: 30%;
  margin-left:30% ;
  /* display: inline-block; */
  justify-content: center;
  /* z-index: 9; */
 
}

.right-content span{
  color: #f44336;
  font-weight: 700;
  font-size: 22px;
 }

.right{
  /* display: block;
  align-items: center; 
  justify-content: center;
  width: 50vw;
  height: 100vh;
  background-color: rgb(215, 215, 145);
  position: relative; */
  width: 50vw;
  height: 100vh;
  background-color: #F7EAD4;
}
 
.right p{
  margin-top: 40px;
  display: flex;
  /* text-align: center; */
  /* background-color: red; */
  width: 35%;
  height: 20%;
  align-items: center; 
  font-size: 18px;
}

#read-more{
  margin-top: 20px;
  display: flex;
  text-transform: uppercase;
  border: 1px solid  #f44336;
  padding: 6px 20px;
  color: #f44336;
  background: transparent;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;

}

.left{
  width: 50vw;
  height: 100vh;
  background-color:  #951005;
  
}
.left-content{
  margin-top: 30%;
  margin-left:30% ;
  /* display: inline-block; */
  justify-content: center;
  position: relative;
  /* z-index: 0; */
}
.left-content h2{
  margin-bottom: px;
}

.left-content h1{
  text-transform: uppercase;
  
}
.left-content p{
  color: #ffffff;
  line-height: 35px;
  font-weight: 700;
  font-size: 18px;
  font-family: "Syne", sans-serif;
 

}
.engine-img{
  position:  absolute;
  top: 20%;
  left: 60%;
  /* transform: translate(-50%,-50%); */
  object-fit: contain;
  object-position: center;
  opacity: .4;
  width: 500px;
  height: 500px;
  /* z-index: 99; */
  /* overflow: hidden; */
  
}



/* button */

 #explore-btn {
	padding: 6px 50px;
	display: flex;
  margin-top: 20px;
	justify-content: center;
	align-items:center;
	gap: 12px;
	border: 1px solid black;
	color: black;
	background-color: #ffcc00;
	border-radius: 14px;
	font-size: 18px;
	font-family: "Syne", sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 0.2px;
	cursor: pointer;
	position: relative;
	z-index: 80;
	overflow: hidden;
	transition: color 5.8s ease;
	transition: background-color 0.8s ease;
}

#explore-btn::after {
	content: "";
	width: 100%;
	z-index: -20;
	height: 100%;
	border: 1px solid black;
	background-color: black;
	font-weight: 700;
	position: absolute;
	left: -110%;
	bottom: 0;
	transition: all 0.5s ease;
}

#explore-btn:hover {
	color: white;
	background-color: white;
}
#explore-btn:hover::after {
	left: 0;
}

 
main{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  /* background-color: rgb(13, 214, 100);just for now */
  display: grid;
  place-items: center;
  min-height: 100vh;
  width: 100vw;   /* for now */
}

.container{
  display: grid;
  place-content: center;
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
  --position:50%; /* 50% */
 }

.image-container{
  max-width: 800px;  /* 800px */
  max-height:90vh ;
  /* aspect-ratio: 16/9; */
  /* background-color: white; */
}

.slider-image{
  width: 100%;
  height: 100%;
  object-fit: cover;  /* contain */
  object-position:  left;  /* center */
  /* position: relative; */

}

.image-before{
  /* width: 100%; */
  /* height: 100%; */
  position: absolute; 
  inset: 0;
  width: var(--postion);
  box-shadow: 1px 1px 1px hsl( 0,  50%,  2%, .5);  
}

.slider{
  position: absolute;
  inset: 0;
  /* for fireforx */
  width: 100%;
  height: 100%; 
  cursor: pointer;
  opacity:0 ;
  /* width: var(--position); */
  height: 100%;
}

.slider:focus-visible ~ .slider-button{
  outline: 5px solid black;
  outline-offset: 3px;
}


.slider-line{
  position: absolute;
  inset: 0;
  width: .2rem; /*2 rem*/
  height: 100%;
  background-color: #fff;
  z-index: 10;
  left: var(--position); /* var(--position) */
  transform: translateX(-50%);
  pointer-events: none;
}

.slider-button{
  position: absolute;
  background-color: #fff;
  color: black;
  padding: .2rem; /*.5rem*/
  border-radius: 100vw;
  display: grid;
  place-items: center;
  top: 50%;
  left: var(--position);  /* var(--position) */
  transform: translate(-50%,-50%);
  pointer-events: none;
  z-index: 100;
  box-shadow: 1px 1px 1px hsl( 0,  50%,  2%, .5);
}